[submodule "custom/newlogic-g2p-erp"]
	path = custom/newlogic-g2p-erp
	url = git@github.com:newlogic/newlogic-g2p.git
[submodule "custom/newlogic-g2p-erp-community-plugins"]
	path = custom/newlogic-g2p-erp-community-plugins
	url = git@github.com:newlogic/newlogic-g2p-community-plugins.git
[submodule "custom/connector"]
	path = custom/connector
	url = git@github.com:OCA/connector.git
[submodule "custom/queue"]
	path = custom/queue
	url = git@github.com:OCA/queue.git
[submodule "custom/connector-interfaces"]
	path = custom/connector-interfaces
	url = git@github.com:OCA/connector-interfaces.git
[submodule "custom/social"]
	path = custom/social
	url = git@github.com:OCA/social.git
